@charset "utf-8";
body {
  font-size: 1em;
  font-family: Arial, sans-serif;
  background-color: #c3c3c3;
  margin: 0;
  color: #333;
}
ul, li {
  margin: 0;
  padding: 0;
}
a {
  color: #CC0000;
  text-decoration: none;
}
a:hover, a:focus {
  color: #ff2424;
}
a img{
  border: none 0px #fff;
}
header {
  width: 100%;
  height: 80px;
  background-color: #333;
  text-align:center;
}
#logo {
  height: 45px;
  vertical-align: -15px;
}
header h1 {
  margin: auto;
  padding-top: 15px;
  color: #FF0000;
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#footer {
  background-color: #333;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
#container {
  overflow:hidden;
}
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
#map-container {
  width: inherit;
}
#container {
  overflow:hidden;
}
#maincontent {
  width: inherit;
}

#breadcrumb {
    padding: 15px 40px 15px;
    list-style: none;
    background-color: #333;
    margin: 0;
    width: inherit;
}
#skip {
  position:absolute;
  top:0;
  left:-1000px;
  font-size: 12px;
  background: #cc0000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.fav-restaurant {
    margin-right: 15px;
}
.hidden {
    position: absolute;
    left: 0;
    top: -500px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
/* Display list items side by side */
#breadcrumb li {
    display: inline;
    color: white;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: white;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #CC0000;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    text-decoration: underline;
    color: #ff2424;
}

/* ====================== Restaurants Listing ====================== */
#restaurants-list {
  display: flex;
  flex-wrap: wrap;
  width: inherit;
  list-style: outside none none;
  margin-top: 40px;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  border-radius: 15px;
  border: 2px solid #ccc;
  font-family: Arial, sans-serif;
  min-height: 300px;
  width: 230px;
  padding: 15px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}
#restaurants-list li h2 {
  color: #cc0000;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  font-weight: 400;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: #cc0000;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 13px 30px 13px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}


#info-container {
  display: flex;
  flex-wrap: wrap;
}
#the-restaurant{
  padding: 20px;
}
#restaurant-name {
  color: #FF0000;
  font-family: Arial, sans-serif;
  font-size: 20pt;
  font-weight: 400;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}
#restaurant-container, #reviews-container {
    width:100%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    background-color: #f2f2f2;
    border: 1px solid white;
}
#reviews-container {
  padding-bottom: 20px;
}
#reviews-container h2 {
    color: #FF0000;
    font-family: Arial, sans-serif;
    font-size: 20pt;
    font-weight: 400;
    margin: 34px 0 30px 20px;
    text-transform: uppercase;
    line-height: 1.1;
}
#reviews-list li, #review-form {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  display: block;
  list-style-type: none;
  margin: 0 auto 20px auto;
  overflow: hidden;
  padding: 10px 20px 10px 20px;
  width: 85%;
  text-align: left;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
#restaurant-hours td {
  color: #666;
}
#review-form > form, #review-form > input, #review-form > textarea, #review-form > select {
  margin-bottom: 10px;
}
/* ====================== Madia queries ====================== */

@media screen and (min-width: 481px) {
  #logo {
    height: 50px;
  }
  header h1 {
    font-size: 1.2em;
  }
}
 
@media screen and (min-width: 480px) and (max-width: 767px) {
/* body {
  background: yellow;
 }*/
}
 
@media screen and (min-width: 768px) and (max-width: 1200px) {
/* body {
  background: green;
 }*/
}

@media screen and (min-width: 1201px) {
/* body {
  background: gray;
 }*/
  #container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  #restaurant-container, #reviews-container {
    text-align: left;
    width: 598px;
  }
  #restaurant-cuisine {
    margin: 0 0 20px; 
  }
  #reviews-list li {
    margin: 0 20px 10px 22px;
  }
  #restaurant-hours {
    text-align: left;
    margin-left: 0;
  }
}
